<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mindmattersapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindMattersApp">
        <activity android:name=".activity_confirmacion"></activity>
        <activity android:name=".activities.ForumActivity"></activity>
        <activity android:name=".activities.forum.ForumWebActivity"></activity>
        <activity android:name=".models.MainDiario"></activity>
        <activity android:name=".models.PaginaDiario"></activity>
        <activity android:name=".activities.DirectorioActivity"></activity>
        <activity android:name=".activities.DisplayMessageActivity"></activity>
        <activity android:name=".activities.DoctorDetailsActivity"></activity>
        <activity android:name=".activities.WellBeingActivity"></activity>
        <activity android:name=".menuprincipal" />
        <activity android:name=".register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>